flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae7d14a2.559c68","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"f8e51c57.93de88","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f8e51c57.93de88","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"acd76b81.cb70c8","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"${WWW}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["7b82afbe.326d8"]]},{"id":"7b82afbe.326d8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"983f48c4.bd59c8","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["d5cf00ed.9c238"]]},{"id":"3b48e0de.01bca","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":220,"wires":[]},{"id":"d5cf00ed.9c238","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":220,"wires":[["3b48e0de.01bca"]]},{"id":"de56168b.638c38","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"ae7d14a2.559c68","x":90,"y":420,"wires":[["126d7e51.b8a322"]]},{"id":"126d7e51.b8a322","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":420,"wires":[]},{"id":"cabf08e.5ad2478","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["b259460f.c18cc"]]},{"id":"b259460f.c18cc","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["29af068a.71176a"]]},{"id":"29af068a.71176a","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"ae7d14a2.559c68","x":470,"y":340,"wires":[]}]