flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"acd76b81.cb70c8","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":150,"wires":[["7b82afbe.326d8"]]},{"id":"7b82afbe.326d8","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":80,"wires":[]},{"id":"983f48c4.bd59c8","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["d5cf00ed.9c238"]]},{"id":"3b48e0de.01bca","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":220,"wires":[]},{"id":"d5cf00ed.9c238","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":220,"wires":[["3b48e0de.01bca"]]}]